__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
outputs/*
!outputs/
!outputs/.gitkeep
logs/
models/target/*
!models/target/
!models/target/.gitkeep
models/draft/*
!models/draft/
!models/draft/.gitkeep
